body{
    background-color: #808080;
    font-family: 'Varela Round', sans-serif;
}

/* BOTON EMPLOYED */
   .addBoton{
    color: #ffffff;
  position: fixed;
    z-index: 1;
    top: 134px;
    left: 1025px;    
}   

.addBoton .material-icons{
  position: fixed;
    z-index: 1;
    top: 130px;
    left: 1000px;
}
    
/* BARRA EMPLOYED */
h1{
  background: #0a4957; 
  color: #ffffff;
  position: fixed;
  z-index: 1;
  overflow: auto;
  top: 90px;
  left: 135px;
  width: 80%;
  height: 8%;
  padding: 10px 0px 0px 40px;
}

/* TABLA BLANCA */
.tablebody{
   background: #ffffff;
  position: relative;
  margin-top: 100px;
  margin-left: 128px;
  margin-right: 90px;
} 

/* BUSCADOR FILTER */
.filter{
 /* border:none; */
  margin: 80px 70px;
  border-radius: 5px;
  opacity: 1; 
  font-size: 13px;
}

/* TABLA TITULOS */
table tr{
  display: flex;
  justify-content: space-between;
  margin: -20px 20px 50px 220px;
  font-size: 18px;
}

/* TABLA DATOS */
table td{
  color: #0a4957;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 20px 20px 10px;
  font-size: 15px;
/* ARREGLAR ESTO */
}



/* MODAL */


.modal{
  display:none;
  position:fixed;
  z-index:1;
  overflow:auto;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.452);
}

.contenido-modal{
  position:relative;
  background-color:#fefefe;
  margin:auto;
  width:40%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
  animation-name:modal;
  animation-duration:1s;
  
}
/* ANIMACION */
@keyframes modal{
  from{top:-330px; opacity:0;}
  to{top:0; opacity:1;}
}


.close{
  color: #f2f2f2;
  font-size:30px;
  font-weight:bold;
  padding: 0px 900px 250px 150px;
}

.close:hover{
  color: #7f8c8d;
  text-decoration:none;
  cursor: pointer;
}

.footer{
padding:8px 16px;
background: #34495e;
}

.footer a{
  color: #f2f2f2;
  padding: 0px 100px 0px 100px;
}

form{
  position:relative;
  margin:auto;
  margin-top: 20px;
  margin-left:30px;
}

.flex{
  width:100%;
  height:100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
}