body{
    background-color: grey;
    font-family: 'Varela Round', sans-serif;
}


    
    a{
        background: #0e6b80; 
        color: #ffffff;
    }
    
    h1{
        background: #06313b; 
        color: #ffffff;
        position: fixed;
        z-index: 1;
        overflow: auto;
        top: 90px;
        left: 135px;
        width: 80%;
        height: 8%;
        padding: 10px 0px 0px 40px;
    }
    
    .addBoton{
        background: #0e6b80; 
        color: #ffffff;
        position: fixed;
        z-index: 1;
        overflow: auto;
        top: 120px;
        left: 1010px;
        width: 10%;
        height: 5%;
        padding: 15px 0px 0px 20px;
        border-radius: 30px;
    }
    
    .material-icons{
        position: fixed;
        overflow: auto;
        top: 131px;
        left: 1140px;
    }
    
    table{
        background: #cac9c9; 
        position: fixed;
        z-index: 1;
        overflow: auto;
        top: 170px;
        left: 135px;
        width: 83%;
        height: 5%;
        padding: 15px 0px 0px 20px;
    
    }
    
    /* thead{ */
      
    